<style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
</style>
<button class="button" onclick="location.href='{% url 'mail:order_paid' %}'">Button 1</button>
<button class="button" onclick="location.href='{% url 'mail:registration_email' %}'">Button 2</button>
<button class="button" onclick="location.href='{% url 'mail:order_paid' %}'">Button 3</button>
<button class="button" onclick="location.href='{% url 'mail:order_paid' %}'">Button 4</button>